/* 
  Name: Brandon Karl, brandon_karl@student.uml.edu
  Computer Science Department, UMass Lowell
  Comp.4610, GUI Programming I
  File: /usr/cs/2018/bkarl/public_html/
  Created: 16-nov-2017
  Last updated by BK: 30-Nov-2017, 8:17  
*/

/*
  Global styles
*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
  text-align: center;
}

/* 
  Style for top area/forms
*/
.jumbotron h1 {
  font-size: 60px;
}

label {
  display: block;
}

form {
  margin-top: 40px;
}

input {
  width: 60%;
}

button {
  margin-top: 40px;
  width: 80%;
}

.center-block {
  float: none;
  margin: 0 auto;
}

/*
  Form error, red text
*/
.error {
  color: red;
}

/* 
  Hidden until you get to them
*/
#carPricesJumbo {
  display: none;
}

#mpgJumbo {
  display: none;
}

#newTabJumbo {
  display: none;
}

/* 
  Close button for tabs
 */
#close {
  color: black;
  margin-left: 10px;
}

/* 
  Table styling
*/
table {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
}

td {
  margin: auto;
  width: 25%;
  border: 1px solid black;
}

.info {
  width: 50px;
  height: 10px;
  background-color: lightblue;
  display: inline-block;
}

.table-container {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.table-container span {
  display: initial;
  color: black;
  font-size: 15px;
}

.total {
  background-color: lightblue;
}

/* 
  Style table key
 */

.tableKey {
  display: none;
}

/* 
  Style for sliders
 */
.ui-slider {
  width: 55%;
  margin: auto;
  margin-top: 10px;
}